<div class="card w-96 bg-base-100 shadow-xl ml-[20px] ">
  <div class="card-body">
    <a href='/cryptid/{{id}}'><h1>{{this.name}}</h1></a>
    <p>{{this.description}}</p>
    {{#if this.sightings}}
    <h2>Recent Sightings</h2>
    {{#each this.sightings}}
    <ul>
        <li>Date spotted: {{this.date}}</li>
        <li>Description: {{this.content}}</li>
        <li>Spotter:  {{this.spotter.username}}</li>
    </ul>
    {{/each}}
    {{/if}}
    
  </div>
</div>
