<div class="card w-96 bg-base-100 shadow-xl ml-[20px] border-2 border-slate-100	my-5 hover:bg-sky-700">
  <div class="card-body">
    <h1 class="font-bold text-lg">{{this.name}}</h1>
    <p>{{this.description}}</p>
    {{#if this.sightings}}
    <h2>Recent Sightings</h2>
    {{#each this.sightings}}
    <ul>
        <li>Date spotted: {{this.date}}</li>
        <li>Description: {{this.content}}</li>
        <li>Spotter:  {{this.spotter.username}}</li>
    </ul>
    {{/each}}
    {{/if}}
    
  </div>
</div>
