<h1>{{cryptid.name}}</h1>
<p>{{cryptid.description}}</p>
{{#if cryptid.sightings}}
<h2>Recent Sightings</h2>
{{#each cryptid.sightings}}
<ul>
    <li>Date spotted: {{this.date}}</li>
    <li>Description: {{this.content}}</li>
    <li>Spotter:  {{this.spotter.username}}</li>
</ul>
{{/each}}
{{/if}}
